body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.idCard {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.idCard span {
  font-weight: 700;
}
.idcard-body {
  font-size: 0.9rem;
  text-align: left;
  width: 70%;
}

.idcard-img {
  padding-left: 1em;
  order: -1;
}
